@font-face {
    font-family: moolboran;
    src: url('../fonts/MoolBoran.ttf');
}

@font-face {
    font-family: glacial;
    src: url('../fonts/GlacialIndifference.otf');
}

:root {
    --transition: 700ms cubic-bezier(1,.05,.51,1.01);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
    background: #f7f7f7;
}

a {
    text-decoration: none;
}

h1 {
    font-family: moolboran, "Courier New", monospace;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #1a1a1a;
}
h2 {
    font-family: glacial, "Courier New", monospace;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #1a1a1a;
}
span {
    font-family: moolboran, "Courier New", monospace;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fx {
    display: flex;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader span {
    display: inline-block;
    font-size: 300px;
    color: #1a1a1a;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    to {transform: scale(0.8); opacity: 0.5;}
}
  

.loader.fullyLoaded {
    animation: finLoad 500ms ease-in forwards;
}
@keyframes finLoad {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.landing {
    height: 100vh;
    overflow: hidden;
}

.navigation {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 40px;
}

.burger-container {
    direction: rtl;
    cursor: pointer;
}

.burger-container:hover .burger-line:nth-of-type(2) {
    width: 30px;
    transition: 300ms ease;
}

.burger-line {
    width: 30px;
    height: 3px;
    background: #1a1a1a;
    margin-bottom: 5px;
    transition: 300ms ease;
}

.burger-line:nth-of-type(2) {
    width: 20px;
}

.social {
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.social-img {
    width: 30px;
    cursor: pointer;
}

.main {
    height: 100%;
    width: 100%;
}
.main-img {
    width: 500px;
}

.center-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}


.heading h1 {
    margin-bottom: -15px;
    position: relative;
    color: rgba(0, 0, 0, 0);
}
.heading h2 {
    position: relative;
    color: rgba(0, 0, 0, 0);
}

.loaded h1,
.loaded h2 {
    animation: show 100ms 800ms forwards;
}

.loaded h1::after,
.loaded h2:after {
    position: absolute;
    width: 0;
    height: 40px;
    content: '';
    top: 0;
    right: 0;
    background: #1a1a1a;
    animation: blackbar 800ms 800ms cubic-bezier(.67,.47,0,.43) reverse;
}
.loaded h1::before,
.loaded h2::before {
    position: absolute;
    width: 0;
    height: 40px;
    content: '';
    top: 0;
    background: #1a1a1a;
    animation: blackbar 800ms cubic-bezier(.67,.47,0,.43);
}

.loaded h2::after,
.loaded h2::before {
    height: 25px;
    animation-duration: 1s;
}
.loaded h2::after {
    animation-delay: 1s;
}

@keyframes blackbar {
    to {width: 100%;}
}
@keyframes show {
    to {color: #1a1a1a}
}

.scroll-down span{
    position: absolute;
    bottom: 150px;
    right: 0;
    transform: rotate(90deg);
}
.lineScroll {
    content: '';
    width: 2px;
    height: 100px;
    background: #1a1a1a;
    position: absolute;
    bottom: 0;
    right: 45px;
}


/* CRAFTED */
.crafted {
    width: 100%;
    padding: 200px 40px 200px 10%;
    flex-direction: column;
}

.crafted h1 {
    text-transform: none;
    font-size: 70px;
    position: relative;
    display: table; 
    color: rgba(0, 0, 0, 0);
}
.crafted h2 {
    position: relative;
    display: table; 
    color: rgba(0, 0, 0, 0);
}

.activeBar h1,
.activeBar h2 {
    animation: show 100ms 600ms forwards;
}

.activeBar h1::after,
.activeBar h2:after {
    position: absolute;
    width: 0;
    content: '';
    top: 0;
    right: 0;
    background: #1a1a1a;
    animation: blackbar 400ms 600ms cubic-bezier(.67,.47,0,.43) reverse;
}
.activeBar h1::before,
.activeBar h2::before {
    position: absolute;
    width: 0;
    content: '';
    top: 0;
    background: #1a1a1a;
    animation: blackbar 600ms cubic-bezier(.67,.47,0,.43);
}

.activeBar h1::after,
.activeBar h1::before {
    height: 65px;
    animation-duration: 600ms;
}

.activeBar h2::after,
.activeBar h2::before {
    height: 25px;
}

.activeBar h1::after {
    animation-delay: 600ms;
}



/* PROJECTS */
.project {
    justify-content: space-between;
    width: 100%;
    padding: 100px 150px 100px 5%;
    position: relative;
}
.project-name {
    flex-direction: column;
}
.project-name h1 {
    margin-bottom: -5px;
    font-size: 35px;
    transition: var(--transition);
}
.project-name h2 {
    transition: var(--transition);
}

.left-side {
    justify-content: center;
    align-items: flex-start;
}
.right-side {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    z-index: 999;
}
.right-side[href=''] { display: none }
.active:last-child .slideInBg {
    display: none;
}
.number {
    font-size: 30px;
    text-align: center;
    font-family: glacial, "Courier New", monospace;
    margin-right: 25px;
    transition: var(--transition);
    transition-delay: 200ms;
}
.project-name h1::before {
    position: absolute;
    content: '';
    background: #1a1a1a;
    width: 100px;
    height: 2px;
    top: 20px;
    left: -200px;
}
.arrow {
    width: 160px;
    height: 2px;
    background: #1a1a1a;
    position: relative;
    transition: var(--transition);
}
.arrow::after {
    position: absolute;
    content: '';
    background: #1a1a1a;
    width: 25px;
    height: 2px;
    top: -8px;
    right: -5px;
    transform: rotate(45deg);
    transition: var(--transition);
}
.arrow::before {
    position: absolute;
    content: '';
    background: #1a1a1a;
    width: 25px;
    height: 2px;
    top: 9px;
    right: -5px;
    transform: rotate(-45deg);
    transition: var(--transition);
}
.view {
    font-weight: 400;
    cursor: pointer;
    color: #1a1a1a;
    transition: 2s;
}

.footer {
    margin-top: 100px;
    text-align: center;
    opacity: 0.5;
}

.slideInBg {
    content: '';
    width: 0;
    background: #1a1a1a;
    transition: 400ms ease-out;
    position: absolute;
    right: 0;
    top: 70px;
    height: 90px;
    opacity: 0;
    transition: var(--transition);
}
.line {
    content: '';
    width: 4%;
    background: #1a1a1a;
    transition: 400ms ease-out;
    position: absolute;
    left: 0;
    top: 117px;
    height: 2px;
    transition: var(--transition);
}

/* JS ANIMATIONS */
.active .arrow {
    transform: scaleX(1.5);
    background: #f7f7f7;
    transition: var(--transition);
}
.active .arrow::after,
.active .arrow::before {
    background: #f7f7f7;
    transition: var(--transition);
}

.active .slideInBg {
    opacity: 1;
    width: 500px;
    transition: var(--transition);
}
.active .line {
    width: 300px;
    transition: var(--transition);
}
.active .view {
    color: #f7f7f7;
    z-index: 999;
    transition: var(--transition);
}

.active:nth-of-type(1) {
    transition: var(--transition);
    background-position-x: 200px;
    background-size: 100px;
    background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.2" fill-rule="evenodd"/%3E%3C/svg%3E');
}
.active:nth-of-type(2) {
    transition: var(--transition);
    background-position-x: -200px;
    background-size: 100px;
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.2"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
.active .project-name h1 {
    margin-left: 200px;
    transition: var(--transition);
}
.active .project-name h2 {
    margin-left: 120px;
    transition: var(--transition);
}
.active .number {
    transform: translateX(30px);
    opacity: 0;
    transition: 400ms ease-in;
}

.navFixed {
    position: fixed;
    padding: 0;
    margin-top: -13px;
}
.navFixed .burger-container,
.navFixed .logo-container{
    background: #f7f7f7;
    padding: 40px;
}

.navFixed .burger-container {
    animation: anim-from-right 200ms ease-in;
}
.navFixed .logo-container {
    animation: anim-from-left 200ms ease-in;
}

.navFixed .logo {
    transition: 200ms ease;;
}
.navFixed .logo:hover {
    transform: scale(0.8);
    transition: 200ms ease;
    cursor: pointer;
}

@keyframes anim-from-right {
    from {transform: translateX(100px)}
    to {transform: translateX(0)}
}
@keyframes anim-from-left {
    from {transform: translateX(-100px)}
    to {transform: translateX(0)}
}

@media (max-width: 1150px) { 
    .project {
        flex-direction: column;
        padding: 50px 100px 50px 5%;
    }
    .left-side {
        align-self: flex-start;
    }
    .right-side {
        align-items: flex-end;
        margin-top: 80px;
    }
    .view {
        margin-top: 20px;
    }
    .slideInBg {
        top: initial;
        bottom: 55px;
    }
    .active .slideInBg {
        width: 350px;
    }
    .project .line {
        display: none;
    }
}

@media (max-width: 700px) { 
    .project .line {
        display: none;
    }
    .project {
        padding-right: 30px;
    }
    .crafted h1 {
        line-height: 0.7;
    }
    .activeBar h1::after,
    .activeBar h1::before,
    .activeBar h2::after,
    .activeBar h2::before,
    .loaded h1::after,
    .loaded h1::before,
    .loaded h2::after,
    .loaded h2::before{
        opacity: 0;
    }
    .activeBar h1,
    .activeBar h2,
    .loaded h1,
    .loaded h2 {
        animation: show 700ms ease-in-out forwards;
    }
}

@media (max-width: 1000px) { 
    .social {
        align-items: flex-end
    }
    .social-img {
        margin-bottom: 50px;
    }
    .main-img {
        position: absolute;
        right: 30px;
        opacity: 0.2;
        width: 450px;
    }
    .heading {
        position: absolute;
        left: 50px;
    }
}


