* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(247, 246, 252);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

p {
    font-weight: 100;
    margin: 25px 0 10px 0;
    opacity: 0.5;
}

#app {
    font-size: 30px;
}

.fx {
    display: flex;
    justify-content: center;
}
.fx--fdc {
    flex-direction: column;
    margin-right: 30px;
    flex-grow: 1;
}
.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: 500px;
}

input {
    width: 100%;
    padding: 20px 50px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
    margin-top: 100px;
    position: relative;
}

button {
    padding: 15px 30px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
    background: #fff;
    color: #000;
    margin-top: 20px;
    cursor: pointer;
    transition: 300ms;
}
button:hover {
    background-color: white;
    background: linear-gradient(to right, #0865F1, rgb(203, 14, 250));
    color: #fff;
    transition: 300ms;
}


select {
    padding: 14px 29px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(150, 183, 233) 0%, #C704F6 100%);
    border-image-slice: 1;
    background: #fff;
    color: #000;
    cursor: pointer;
}

span {
    position: relative;
}

/* UP DOWN */
.updown:nth-of-type(odd) {
    animation: fromTop forwards;
}
.updown:nth-of-type(even) {
    animation: fromBottom forwards;
}
@keyframes fromTop {
    0% {top: 0}
    50% {top: -20px}
    100% {top: 0}
}
@keyframes fromBottom {
    0% {bottom: 0}
    50% {bottom: -20px}
    100% {bottom: 0}
}

/* WAVE */
.wave:nth-of-type(odd) {
    animation: wave1 forwards;
}
.wave:nth-of-type(even) {
    animation: wave2 forwards;
}
@keyframes wave1 {
    0% {top: 0}
    50% {top: -10px}
    100% {top: 0}
}
@keyframes wave2 {
    0% {top: 0}
    50% {top: -20px}
    100% {top: 0}
}

/* VISIBILITY */
.visibility{
    animation: visibility forwards;
}
@keyframes visibility {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* REVEAL */
.reveal{
    animation: reveal forwards;
    opacity: 0;
}
@keyframes reveal {
    0% {transform: rotate(0deg); opacity: 0;}
    50% {transform: rotate(90deg); opacity: 0;}
    100% {transform: rotate(0deg); opacity: 1;}
}

